
@font-face {
font-family: "Dancing Script";
src: url(fonts/DancingScript-Regular.ttf) format("truetype");
}
body{
	padding: 0px;
     border: 0px;
    flex-flow: row wrap; 
    font-family: Dancing Script;
    background-color: #02010a;
}

.contenido{
	width: 900px;
	margin-left: 25%;
	}

header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	display:flex;        
    flex-flow: row wrap;      /* los div dentro del header se acoplen uno al lado de otro y si no caben se ponen uno debajo de otro*/

    /*position: fixed;   /* la caja del header se fja a 0 pixeles del borde superior de la pantala*/
    /*top: 0px;*/
}

#titulo {
	color: white;
	text-shadow: 2px 2px #02010a;
	width: 65%;
	padding: 20px;
}

#menu {
	width: 25%;
	margin-top:30px;
	text-align:  center;
	word-spacing: 20px;
}

#menu a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}


.seccion3{
	background-color: #d5c75f;
	display: flex;

}

#foto2{
	width: 20%;
	


}

#foto3{
	width: 20%;
	
}


img.paisaje{
	width: 80%;
	
	transition: 1s;
	box-shadow: 2px 2px #02010a;
     margin: 100px 100px 100px 75px;
     
}

img.retrato{
	width: 80%;
	height: 185px;
	margin:100px 200px 100px 100px;
	transition: 1s;
	box-shadow: 2px 2px #02010a;
}



footer{
	background-color: #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
     display: flex;
}

#b1{
	width: 20%;
    padding: 2%;
    font-size: 20px;
}
#b2{
	width: 20%;
	padding: 2%;
}

#b3{
	width: 20%;
	padding: 2%;

}
#b3 a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}

#b4{
	width: 20%;
	padding: 2%;
	text-align: center;

}

#b2 p{
	font-size: 20px;
}
#b4 p{
	font-size: 20px;
}

footer h2{
	text-align: center;
}