
@font-face {
font-family: "Dancing Script";
src: url(fonts/DancingScript-Regular.ttf) format("truetype");
}
body{
	padding: 0px;
     border: 0px;
    flex-flow: row wrap; 
    font-family: Dancing Script;
    background-color: #02010a;
}



header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	display:flex;        
    flex-flow: row wrap;      /* los div dentro del header se acoplen uno al lado de otro y si no caben se ponen uno debajo de otro*/

    /*position: fixed;   /* la caja del header se fja a 0 pixeles del borde superior de la pantala*/
    /*top: 0px;*/
    
}

footer{
	background-color: #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
     display: flex;
}

.contenido{
	width: 900px;
	margin-left: 25%;
	
}

#titulo {
	color: white;
	text-shadow: 2px 2px #02010a;
	width: 65%;
	padding: 20px;


}

#menu {
	width: 25%;
	margin-top:30px;
	text-align:  center;
	word-spacing: 20px;
}

#menu a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#fotop {
	background-color: #82c3a6;
	text-align: center;

}



img.foto1{
	width: 80%;
	padding: 40px;
	filter:blur(30%);

	
}

 .seccion3{
	background-color: #d5c75f;
	display: flex;

}

#foto2{
	width: 50%;
	text-align: center;

}

#foto3{
	width: 50%;
	text-align: center;
}

img.paisaje{
	width: 80%;
	margin: 100px;
	transition: 1s;
  
 
}

img.retrato{
	width: 80%;
	height: 420px;
	margin:100px;
	transition: 1s;
}



 img.paisaje:hover{
 transform: rotate(10deg);
 box-shadow: 5px 10px  #82c3a6;
 border: 2px solid black;

}


img.retrato:hover{
	transform: translate(20px, -5px);
	box-shadow: 5px 10px  #82c3a6;
    border: 2px solid black;
  
}

#b1{
	width: 20%;
    padding: 2%;
    font-size: 20px;
}
#b2{
	width: 20%;
	padding: 2%;
}

#b3{
	width: 20%;
	padding: 2%;

}
#b3 a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}

#b4{
	width: 20%;
	padding: 2%;
	text-align: center;

}

#b2 p{
	font-size: 20px;
}
#b4 p{
	font-size: 20px;
}

footer h2{
	text-align: center;
}







