
@font-face {
font-family: "Dancing Script";
src: url(fonts/DancingScript-Regular.ttf) format("truetype");
}
body{
	padding: 0px;
     border: 0px;
    flex-flow: row wrap; 
    font-family: Dancing Script;
    background-color: #02010a;
}



header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	display:flex;        
    flex-flow: row wrap;      /* los div dentro del header se acoplen uno al lado de otro y si no caben se ponen uno debajo de otro*/

    /*position: fixed;   /* la caja del header se fja a 0 pixeles del borde superior de la pantala*/
    /*top: 0px;*/
    
}

footer{
	background-color: #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
     display: flex;
}




#titulo {
	color: white;
	text-shadow: 2px 2px #02010a;
	width: 65%;
	padding: 20px;


}

#menu {
	width: 25%;
	margin-top:30px;
	text-align:  center;
	word-spacing: 20px;
}

#menu a{
	color: white;
	font-size: 20px;
}

#inicio{
	text-decoration: none;
}

#fotop {
	background-color: #82c3a6;
	text-align: center;
	box-shadow: 2px 2px #02010a;

}



img.foto1{
	width: 80%;
	margin: 40px;
	filter:blur(30%);
	box-shadow: 2px 2px #02010a;
   

	
}

 .seccion3{
	background-color: #d5c75f;
	display: flex;
	

}

#seccion3{
	height: 300px;
	text-align: center;
}

#foto2{
	width: 50%;
}

#foto3{
	width: 50%;	
}

img.paisaje{
	 width: 80%;
     transition: 1s;
	 box-shadow: 2px 2px #02010a;
     margin: 0 auto;
     margin-top: 40px;
     margin-left: 50px;

}

img.retrato{
	width: 80%;
	height: 200px;
	transition: 1s;
	box-shadow: 2px 2px #02010a;
	margin: 0 auto;
	margin-top: 40px;

}



 img.paisaje:hover{
 transform: rotate(10deg);
 box-shadow: 5px 10px  #82c3a6;
 border: 2px solid black;

}

 

img.retrato:hover{
	transform: translate(20px, -5px);
	box-shadow: 5px 10px  #82c3a6;
    border: 2px solid black;
  
}

#b1{
	width: 20%;
    padding: 2%;
    font-size: 20px;
}
#b2{
	width: 20%;
	padding: 2%;
}

#b3{
	width: 20%;
	padding: 2%;

}
#b3 a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}

#b4{
	width: 20%;
	padding: 2%;
	text-align: center ;


}

#b2 p{
	font-size: 20px;
}
#b4 p{
	font-size: 20px;
}

footer h2{
	text-align: center;
}




@keyframes animacion1 


{

0% {
position: relative;
margin-top  : 150%;
}



60% {
position: relative;
margin-top : -5%;
}




100% {
position: relative;
margin-top : 0%;
}
}




header{
animation: animacion1 1s ;


}





@media screen and (min-width: 900px){
	.wrapper{
	width: 900px;
	margin-left: 25%;
}
}

@media screen and (max-width: 899px){
	
	.wrapper{
		width: 100%;
		margin
	}


header {
display: flex;
flex-direction: column;

}

.seccion3 {
display: flex;
flex-direction: column;
width: 100% !important;
text-align: center !important;

}

.seccion4 {
display: flex;
flex-direction: column;
text-align: justify !important;
}

footer h2{
	text-align: justify !important;
}

header a{
	text-align: center !important;
}

.b1{
	display: flex;
	width: 100% !important;
	height: 30px;
	margin-left: 40px;

}
.b2{
	
	display: flex;
	width: 100% !important;
	margin-left: 120px;
	height: 60px;
	padding: 1px;
	
}

.b4{
display: flex;
width: 100% !important;
display: flex;
height:300px !important;
text-align: center !important;
}

.b5{
display: flex;
width: 100% !important;
height:300px !important;
}

#seccion3{
	height: 600px;
}

#paisaje{
 width: 80%;
 margin-left: 1%;
 margin-top: 7%;
}

#retrato{
 width: 80%;
 margin-top: 7%;	
}




.b6{
width: 100% !important;
}

.b7{
width: 100% !important;
}

.b8{
width: 100% !important;
}

.b9{
	width: 100% !important;
}











}


	







